@model Memberships.Areas.Admin.Models.SubscriptionProductModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subscription Product</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <br />
    <table class="table table-striped">
        <tr class="success">
            <th>Subscription Title</th>
            <th>Product Title</th>
        </tr>
        <tr>
            <td>@Model.SubscriptionTitle</td>
            <td>@Model.ProductTitle</td>
        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
