<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Minor Entities</li>
        <li class="divider" />
        <li><a href="/Admin/Sections">&nbsp;&nbsp;Sections</a></li>
        <li><a href="/Admin/Parts">&nbsp;&nbsp;Parts</a></li>
        <li><a href="/Admin/ItemTypes">&nbsp;&nbsp;Item Types</a></li>
        <li><a href="/Admin/ProductTypes">&nbsp;&nbsp;Product Types</a></li>
        <li><a href="/Admin/ProductLinkTexts">    &nbsp;&nbsp;Product Link Texts</a></li>
        <li class="divider" />
        <li class="dropdown-header">Major Entities</li>
        <li class="divider" />
        <li><a href="/Admin/Items">&nbsp;&nbsp;Items</a></li>
        <li><a href="/Admin/Products">&nbsp;&nbsp;Products</a></li>
        <li><a href="/Admin/Subscriptions">    &nbsp;&nbsp;Subscriptions</a></li>
        <li class="divider" />
        <li class="dropdown-header">Connector Entities</li>
        <li class="divider" />
        <li><a href="/Admin/ProductItems">&nbsp;&nbsp;Product Items</a></li>
        <li><a href="/Admin/SubscriptionProducts">    &nbsp;&nbsp;Subscription Products</a></li>
        <li class="divider" />
        <li class="dropdown-header">Users & Subscriptions</li>
        <li class="divider" />
        <li><a href="/Account">    &nbsp;&nbsp;Users & Subscriptions</a></li>
    </ul>
</li>
